{% extends "base.html" %}

{% block title %}
    {{ article.title }} - {{ SITENAME }}
{% endblock %}

{% block header %}
    {% from "macro/header.html" import header %}
    {{ header(SITEURL, SITENAME, LINKS) }}
{% endblock %}

{% block content %}
    <div class="article-info">
        <!-- time and category -->
        <div class="top">
            <!-- time -->
            <span class="time">{{ article.locale_date }}</span>
            <!-- in -->
            <span class="in">@</span>
            <!-- category -->
            <a class="category" href="{{ SITEURL }}/{{ article.category.url }}">
                {{ article.category }}
            </a>
        </div>

        <!-- title -->
        <h1 class="title">{{ article.title }}</h1>

        <!-- tags -->
        <div class="bottom">
            {% for tag in article.tags|sort %}
                <span>
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </span>
            {% endfor %}
        </div>

        <!-- toc -->
        {% if article.toc %}
        <ul class="toc-container">
            <li class="toc-title">
                <a href="{{ SITEURL }}/{{ article.url }}">
                    TOC
                </a>
                {{ article.toc }}
            </li>
        </ul>
        {% endif %}
    </div>
    {% set content_type =
        'md-content' if article.source_path[-3:] == '.md' else 'rst-content' %}
    <div class="{{ content_type }}">
        {{ article.content|safe }}
    </div>
{% endblock %}
