.article-info {
    font-size: $basic-font-size;

    .title {
        margin: 0px 0px;
        @include util-header('H1', 175%);
        color: #cfcf9f; //dark theme for H1
        line-height: $basic-font-size * 3.0;
        border: none;
    }

    .top {
        .time {
            color: $info-text-color;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;
        }

        .in {
            margin-left: 5px;
            margin-right: 5px;
            color: $info-text-color;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;
        }

        a.category {
            color: $info-text-color;
            text-decoration: none;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .bottom {
        a {
            font-family: 'Bitter', sans-serif;
            font-size: $basic-font-size * 0.8;
            color: $info-text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        span + span {
            margin-left: 3px;
        }
    }

    ul.toc-container {
        margin: 16px 16px;
        padding-left: $basic-font-size;

        a {
            color: $primary-color;
            font-size: $basic-font-size;
            font-family: 'Roboto Slab', sans-serif;
            text-decoration: none;

            &:hover {
                color: lighten($primary-color, 10%);
            }
        }

        ul {
            color: $primary-color;
            padding-left: $basic-font-size;

            li {
                margin-top: 4px;
            }
        }
    }
}

.share-icons {
    margin-top: 30px;
    text-align: center;

    .icon {
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        opacity: 0.5;
        transition: opacity 0.4s;

        &:hover {
            opacity: 1.0;
        }

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: white;
            }
        }
    }

    .facebook {
        background-color: #3B5998;
    }
    .googleplus {
        background-color: #DC4E41;
    }
    .twitter {
        background-color: #1DA1F2;
    }
}
