.article-info {
    .title {
        color: $info-title-color;
        margin: 0px 0px;
        @include util-header('H1', 175%);
        line-height: $basic-font-size * 3.0;
    }

    .top {
        .time {
            color: $info-text-color;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;
        }

        .in {
            margin-left: 5px;
            margin-right: 5px;
            color: $info-text-color;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;
        }

        a.category {
            color: $info-text-color;
            text-decoration: none;
            font-size: $basic-font-size * 0.8;
            font-family: 'Bitter', sans-serif;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .bottom {
        a {
            font-family: 'Bitter', sans-serif;
            font-size: $basic-font-size * 0.8;
            color: $info-text-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        span + span {
            margin-left: 3px;
        }
    }

    ul.toc-container {
        margin: 16px 16px;
        padding-left: $basic-font-size;

        a {
            color: $primary-color;
            font-size: $basic-font-size;
            font-family: 'Bitter', sans;
            text-decoration: none;

            &:hover {
                color: lighten($primary-color, 10%);
            }
        }

        ul {
            color: $primary-color;
            padding-left: $basic-font-size;

            li {
                margin-top: 4px;
            }
        }
    }
}
