* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: $bg-color;
}

main {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $max-width) {
        padding: 0px 10px;
    }
}

.list-header {
    color: $list-header-color;
    font-size: $list-header-size;
    font-family: 'Roboto Slab', sans;
    line-height: $list-header-size * 1.7;
    background: linear-gradient(to right, #aaa, #fff);
    background-position: bottom left;
    background-size: 50% 1px;
    background-repeat: no-repeat;
}
