header { // header container
    display: flex;
    flex-direction: column;
    max-width: $max-width;
    text-align: center;
    margin: $header-margin auto;
    // margin: 0 auto $header-margin auto;
    // padding-top: $header-margin;
    // background: linear-gradient(to bottom,
    //     $header-decoration-color $header-margin, $bg-color $header-margin);

    div.image-wrap {
        // background: linear-gradient(to bottom, $header-decoration-color 50%, $bg-color 50%);
    }

    a.image {
        img {
            width: $header-img-size-large;
            height: $header-img-size-large;
            border-radius: $header-img-size-large / 2;
            border: 2px solid #ddd;

            &:hover {
                filter: brightness(1.15);
            }
        }
    }

    a.title {
        text-decoration: none;

        span { // header title(i.e. sitename)
            margin: 10px auto;
            color: $header-font-color;
            font-size: $header-font-size;
            font-family: 'Roboto Slab', serif;
            line-height: $header-font-size * 2.0;
        }
    }

    nav {
        font-size: $header-font-size * 0.85;
        font-family: 'Roboto Slab', serif;

        a {
            color: darken($header-font-color, 10%);
            text-decoration: none;
            &:hover {
                color: lighten($header-font-color, 10%);
            }
        }

        a + a {
            margin-left: 7px;
        }
    }
}
