.list-entry {
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    .title {
        color: $list-entry-title-color;
        font-size: $list-entry-title-size;
        font-family: 'Roboto Slab', sans;
        line-height: $list-entry-title-size * 1.7;
        text-decoration: none;

        &:hover {
            color: lighten($list-entry-title-color, 15%);
        }
    }

    .info {
        height: $list-entry-info-size * 1.5;
        color: $list-entry-info-color;
        font-size: $list-entry-info-size;
        font-family: 'Roboto', sans;
        line-height: $list-entry-info-size * 1.5;
        text-decoration: none;
    }
}
