.rst-content {
    color: $fg-color;
    font-family: 'Roboto', sans;
    font-family: 'Oxygen Mono', monospace;
    font-size: $basic-font-size;
    line-height: $basic-font-size * 1.35;

    p {
        margin: 18px 0px;
        font-size: 100%;
        white-space: pre-wrap;
    }

    a.reference {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    a.toc-backref {
        color: $fg-color;
        text-decoration: none;
    }

    h1 {
        font-size: 175%;
        line-height: 175%;
        @include util-header('H1');
    }

    h2 {
        font-size: 150%;
        line-height: 150%;
        @include util-header('H2');
    }

    h3 {
        font-size: 140%;
        line-height: 140%;
        font-family: 'Roboto Slab', serif;
        @include util-header('H3');
    }

    h4 {
        font-size: 130%;
        line-height: 130%;
        font-family: 'Roboto Slab', serif;
        @include util-header('H4');
    }

    h5 {
        font-size: 120%;
        line-height: 120%;
        font-family: 'Roboto Slab', serif;
        @include util-header('H5');
    }

    h6 {
        font-size: 110%;
        line-height: 110%;
        font-family: 'Roboto Slab', serif;
        @include util-header('H6');
    }

    ul {
    }

    tt { // inline literal
        color: #F57C00; // mdl orange 700
        margin-left: 2px;
        margin-right: 2px;
        font-family: 'Oxygen Mono', monospace;
    }

    pre.literal-block {
        clear: both; // in case it overlaps with sidebar
        margin: 25px 0px;
        padding: 8px 8px;
        border: 1px solid #ccc;
        overflow: auto;
        white-space: pre-wrap;
        font-family: 'Oxygen Mono', monospace;
        font-size: $basic-font-size * 0.85;
        line-height: $basic-font-size * 0.85 * 1.35;
        background-color: lighten($bg-color, 2%);
    }

    .line-block {
        margin: $basic-font-size * 0.7 0px;
        padding-left: 2 * $basic-font-size;
        // border-left: 2px solid #8BC34A; // mdl light green 500
        border-left: 2px solid #ddd;
        .line {
            white-space: pre-wrap;
        }
    }

    .sidebar {
        @extend .util-block;
        float: right;

        .sidebar-title {
            @extend .util-block-title;
            margin: 0px;
        }

        & > *:not(.sidebar-title) {
            @extend .util-block-content;
        }
    }

    .admonition {
        @extend .util-block;
        margin: 20px 0px;
        // border-color: $bg-color;

        .admonition-title {
            @extend .util-block-title;
            margin: 0px;
            color: white;
        }

        & > *:not(.admonition-title) {
            @extend .util-block-content;
        }
    }

    .note {
        .admonition-title {
            background-color: #64B5F6;
            border: 1px solid #64B5F6;
        }
    }

    .warning {
        .admonition-title {
            background-color: #f44336; // mdl red 500
        }
    }

    hr {
        margin: 24px 0px;
        border-color: rgba(255, 255, 255, 0.4);
    }
}
