
.rst-content {
    color: $fg-color;
    font-family: 'Roboto', 'Source Han Sans TW', 'Noto Sans CJK TC', 'Noto Sans TC'; // last one is web font
    font-size: $basic-font-size;
    line-height: $basic-font-size * 1.35;

    p {
        color: lighten($fg-color, 10%);
        margin: 18px 0px;
        white-space: pre-wrap;
        font-size: 105%;
        line-height: $basic-font-size * 1.6;
        word-spacing: 0.8px;
    }

    a.reference {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    a.toc-backref {
        color: $fg-color;
        text-decoration: none;
    }

    h1 {
        @include util-header('H1', 175%);
    }

    h2 {
        @include util-header('H2', 150%);
    }

    h3 {
        @include util-header('H3', 140%);
    }

    h4 {
        @include util-header('H4', 130%);
    }

    h5 {
        @include util-header('H5', 120%);
    }

    h6 {
        @include util-header('H6', 110%);
    }

    ul {
    }

    tt { // inline literal
        color: #F57C00; // mdl orange 700
        font-family: 'Oxygen Mono', monospace;
        font-size: $basic-font-size * 0.95;
    }

    pre.literal-block {
        margin: 25px 0px;
        padding: 8px 8px;
        border: 1px solid #ccc;
        overflow: auto;
        white-space: pre-wrap;
        font-family: 'Oxygen Mono', monospace;
        font-size: $basic-font-size * 0.85;
        line-height: $basic-font-size * 0.85 * 1.35;
        background-color: lighten($bg-color, 2%);
    }

    .line-block {
        margin: $basic-font-size * 0.7 0px;
        padding-left: 2 * $basic-font-size;
        border-left: 2px solid #ddd;
        .line {
            white-space: pre-wrap;
        }
    }

    table {
        border-collapse: collapse;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        tbody {
            border-top: 2px double #ccc;
        }

        thead {
            tr {
                color: black;
                background-color: darken($bg-color, 9%);
            }
        }

        tbody {
            tr:nth-child(even) {
                background-color: darken($bg-color, 4%);
            }
        }
    }

    table.highlighttable {
        @extend .pygments;
        margin-left: -40px;
        border: none;

        tbody, tr, td, pre, div {
            padding: 0px;
            border: none;
        }

        pre {
            margin: 10px 0px;
            font-size: $basic-font-size * 0.85;
            line-height: $basic-font-size * 0.85 * 1.3;
            font-family: 'Roboto Mono', monospace;
        }

        td.linenos {
            vertical-align: top;

            div.linenodiv {
                pre {
                    color: #ddd;
                    background-color: $bg-color;
                    font-size: $basic-font-size * 0.8;
                    vertical-align: middle;
                    text-align: center;
                    width: 40px;
                }
            }
        }

        td.code {
            vertical-align: top;

            div.highlight {
                padding: 0px 10px;
                max-width: $max-width;
                overflow-x: auto;
                // border: 1px solid #ccc;
                // border will overlap scrollbar, so I use outline instead
                outline: 1px solid #ccc;
                background-color: #fff;
            }
        }
    }

    .sidebar {
        @extend .util-block;
        float: right;
        clear: right;

        .sidebar-title {
            @extend .util-block-title;
            margin: 0px;
        }

        & > *:not(.sidebar-title) {
            @extend .util-block-content;
        }
    }

    .admonition {
        @extend .util-block;
        margin: 20px 0px;
        // border-color: $bg-color;

        .admonition-title {
            @extend .util-block-title;
            margin: 0px;
            color: white;
        }

        & > *:not(.admonition-title) {
            @extend .util-block-content;
        }
    }

    .note {
        .admonition-title {
            background-color: #64B5F6;
            border: 1px solid #64B5F6;
        }
    }

    .warning {
        .admonition-title {
            background-color: #f44336; // mdl red 500
            border: 1px solid #f44336;
        }
    }

    hr {
        margin: 24px 0px;
        border-color: rgba(255, 255, 255, 0.4);
    }
}
