.rst-content {
    color: $fg-color;
    font-family: 'Bitter', 'Source Han Sans TW', 'Noto Sans TC'; // last one is web font
    font-size: $basic-font-size;
    line-height: $basic-font-size;

    p {
        color: $fg-color;
        margin: $basic-font-size 0px;
        white-space: pre-wrap;
        font-size: 105%;
        line-height: 150%;
        // text-align: justify;
        letter-spacing: 0.4px;
    }

    p + p {
        margin-top: $basic-font-size * 1.4;
    }

    img {
        max-width: 90vw;
        margin: 20px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #ccc;
    }
    .caption {
        font-size: 90%;
        // text-align: center;
    }
    div.legend {
        font-size: 90%;
    }
    img + img {
        margin-top: 0px;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    ol, ul {
        padding-left: 2 * $basic-font-size;

        li {
            line-height: 150%;
        }
    }

    dl.docutils {
        dt {
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        dd {
            margin: 20px 0px 2s0px 2 * $basic-font-size;
        }
    }

    h1 { @include util-header('H1', 175%); }

    h2 { @include util-header('H2', 150%); }

    h3 { @include util-header('H3', 140%); }

    h4 { @include util-header('H4', 130%); }

    h5 { @include util-header('H5', 120%); }

    h6 { @include util-header('H6', 110%); }

    tt { // inline literal
        padding-left: 5px;
        padding-right: 5px;
        color: #F57C00; // mdl orange 700
        font-family: 'Oxygen Mono', monospace;
        font-size: 95%;
    }

    pre.literal-block {
        margin: 25px 0px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        overflow: auto;
        white-space: pre-wrap;
        font-family: 'Oxygen Mono', monospace;
        font-size: 85%;
        line-height: 0.85 * 1.35;
        background-color: lighten($bg-color, 2%);
    }

    pre.doctest-block {
        @extend .literal-block;
    }

    .line-block {
        margin: $basic-font-size * 0.85 0px;
        padding-left: 2 * $basic-font-size;
        border-left: 2px solid #ddd;

        .line {
            line-height: 150%;
            white-space: pre-wrap;
        }
    }

    blockquote {
        margin: $basic-font-size * 0.7 0px;
        padding-left: 2 * $basic-font-size;
    }

    table {
        margin-top: 20px;
        margin-bottom: 20px;
        border-collapse: collapse;
        font-size: 100%;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }

        tbody {
            border-top: 2px double #ccc;
        }

        thead {
            tr {
                color: black;
                background-color: $bg-color;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: #f4f4f4;
            }
        }
    }

    table + table {
        margin-top: 30px;
    }

    table.highlighttable {
        @extend .pygments;
        margin-left: -40px;
        border: none;
        font-size: 100%;
        max-width: 95vw;

        tbody, tr, td, pre, div {
            padding: 0px;
            border: none;
        }

        pre {
            margin: 10px 0px;
            font-size: 85%;
            line-height: $basic-font-size * 0.85 * 1.30;
            font-family: 'Oxygen Mono', monospace;
        }

        td.linenos {
            vertical-align: top;
            background-color: $bg-color;

            div.linenodiv {
                pre {
                    color: #ddd;
                    background-color: $bg-color;
                    font-size: 80%;
                    vertical-align: middle;
                    text-align: center;
                    width: 40px;
                }
            }
        }

        td.code {
            vertical-align: top;

            div.highlight {
                padding: 0px 10px;
                max-width: $max-width;
                min-width: $max-width;
                overflow-x: auto;
                // border: 1px solid #ccc;
                // border will overlap scrollbar, so I use outline instead
                outline: 1px solid #ccc;
                background-color: #fff;
            }
        }
    }

    table.field-list {
        font-size: 80%;
        border: none;
        color: $fg-color;

        tbody, th, tr, td {
            border: none;
            background-color: $bg-color;
        }

        p {
            margin: 0px;
        }
    }

    table.option-list {
        border: 1px solid #ccc;
        tbody {
            border: none;
        }
    }

    a.toc-backref {
        color: $fg-color;
        text-decoration: none;
    }

    // footnote, citation
    a.footnote-reference, a.citation-reference {
        vertical-align: super;
        text-decoration: none;
        font-size: 70%;
    }
    table.footnote, table.citation {
        margin-top: 0px;
        margin-bottom: 0px;
        td {
            background-color: $bg-color;
            font-size: 85%;
            line-height: 135%;
            color: #999;
            border: none;
        }
        a.fn-backref {
            text-decoration: none;
        }
        em {
            font-style: normal;
            padding-right: 5px;
        }
        p {
            color: #999;
            line-height: 135%;
        }
    }

    // list style
    ol.upperroman { list-style-type: upper-roman; }
    ol.lowerroman { list-style-type: lower-roman; }
    ol.loweralpha { list-style-type: lower-alpha; }
    ol.upperalpha { list-style-type: upper-alpha; }

    .sidebar {
        @extend .util-block;
        float: right;
        clear: right;
        max-width: 50%;

        .sidebar-title {
            @extend .util-block-title;
            font-size: 110%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0px;
        }

        .sidebar-subtitle {
            font-size: 100%;
        }

        & > *:not(.sidebar-title) {
            @extend .util-block-content;
        }
    }

    .admonition {
        @extend .util-block;
        margin: 20px 0px;
        // border-color: $bg-color;

        .admonition-title {
            @extend .util-block-title;
            margin: 0px;
            color: white;
            background-color: #9E9E9E;
            border: 1px solid #9E9E9E;
        }

        & > *:not(.admonition-title) {
            @extend .util-block-content;
        }
    }

    .attention, .caution, .warning {
        .admonition-title {
            background-color: #FFC107;
            border: 1px solid #FFC107;
        }
    }

    .danger, .error {
        .admonition-title {
            background-color: #f44336;
            border: 1px solid #f44336;
        }
    }

    .note, .tip, .hint {
        .admonition-title {
            background-color: #64B5F6;
            border: 1px solid #64B5F6;
        }
    }

    .important {
        .admonition-title {
            background-color: #009688;
            border: 1px solid #009688;
        }
    }

    .topic-title, .rubric {
        font-weight: bold;
        font-size: 105%;
    }

    hr {
        margin: 24px 0px;
        border-color: rgba(255, 255, 255, 0.4);
    }
}
