@mixin util-header($content, $scale) {
    font-weight: bold;
    // font-weight: normal;
    font-family: 'Roboto Slab', 'Source Han Sans TW', 'Noto Sans TC';
    font-size: $scale;
    line-height: $scale;
    color: $fg-color;
    // border-bottom: 1px solid #ccc;

    &:before {
        font-weight: normal;
        content: $content;
        position: absolute;
        margin-left: -50px;
        color: #555;
        font-size: 65%;
    }
}

.util-block {
    min-width: 200px;
    margin: 10px 0px 10px $basic-font-size;
    border: 1px solid $bg-color;
    background-color: lighten($bg-color, 5%);
    clear: both;
}

.util-block-title {
    padding: 7px 15px;
    color: $fg-color;
    background-color: #545454;
    font-size: $basic-font-size;
    line-height: $basic-font-size;
    font-family: 'Bitter', sans;
}

.util-block-content {
    margin: $basic-font-size $basic-font-size;
}
