// basic color
$primary-color: #66BB6A; // mdl-color--green-400
$primary-text-color: #E0E0E0;
$secondary-text-color: #999;

// Layout
$max-width: 700px;

// Article
$bg-color: #383838; // background color
$fg-color: $primary-text-color; // text color
$info-title-color: #101010;
$info-text-color: #888;
$basic-font-size: 18px;

// header
$header-margin: 30px;
$header-font-color: darken($primary-text-color, 5%); // header text color
$header-img-size-large: 100px;
$header-img-size-small: 60px;
$header-font-size: 20px;
$header-decoration-color: #474747;

// footer
$footer-font-color: #666; // footer text color
$footer-font-size: 15px;

// list header
$list-header-color: $primary-text-color;
$list-header-size: 22px;

// list title
// $list-title-color: #2196f3;
$list-title-color: $primary-color;
$list-title-size: 18px;

// list entry
// $list-entry-title-color: #2196f3;
$list-entry-title-color: $primary-color;
$list-entry-info-color: $secondary-text-color;
$list-entry-title-size: 22px;
$list-entry-info-size: 15px;

// paging
// $paging-clikable-color: #2196f3;
$paging-clikable-color: $primary-color;
$paging-current-color: $primary-text-color;
$paging-font-size: 22px;
$paging-height: 50px;
