@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto+Slab:400,700|Oxygen Mono');

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}

// @import "variables.scss"; // light theme
@import "variables-dark.scss"; // dark theme
// @import "utility.scss"; // light theme
@import "utility-dark.scss"; // dark theme
// @import "pygments.scss"; // light theme
@import "pygments-dark.scss"; // dark theme
@import "rst-content.scss";
// @import "md-content.scss"; // light theme
@import "md-content-dark.scss"; // dark theme

// macro
@import "paging.scss";
@import "header.scss";
@import "footer.scss";
@import "path.scss";
@import "list-entry.scss";

// templates' style
@import "base.scss";
// @import "article.scss"; // light theme
@import "article-dark.scss"; // dark theme
@import "tags.scss";

// @media screen and (max-width: $max-width) {
// }
