{% macro header(SITEURL, SITENAME, LINKS, ZMD_PROFILE_IMAGE) %}
    <header>
        <div>
            <a class="image" href="{{ SITEURL }}/">
                <img class="large" src="{{ SITEURL }}/theme/{{ ZMD_PROFILE_IMAGE }}">
            </a>
        </div>
        <div>
            <a class="title" href="{{ SITEURL }}/">
                <span>{{ SITENAME }}</span>
            </a>
        </div>
        <nav>
            {% for text, url in LINKS %}
                <a href="{{ SITEURL }}/{{ url }}">{{ text|upper }}</a>
            {% endfor %}
        </nav>
    </header>
{% endmacro %}
