{% macro header(SITEURL, SITENAME, LINKS) %}
    <header>
        <div>
            <a class="image" href="{{ SITEURL }}/">
                <img class="large" src="{{ SITEURL }}/theme/header-image.jpg">
            </a>
        </div>
        <div>
            <a class="title" href="{{ SITEURL }}/">
                <span>{{ SITENAME }}</span>
            </a>
        </div>
        <nav>
            {% for text, url in LINKS %}
                <a href="{{ url }}">{{ text|upper }}</a>
            {% endfor %}
        </nav>
    </header>
{% endmacro %}
